@inherits ValidationInputBase

<div>
    <input class="validation-input form-control" @onchange="HandleInputChange" value="@Value" placeholder="@placeHolder" />
    <div class="val-tooltip">
        <span class="val-tooltip-text"></span>
    </div>
</div>

